body {
  background-color: black;

  .showcase {
    display: flex;
    flex-wrap: wrap;
    .display-box {
      color: aliceblue;
      font-family: Inter;
      border: 1px solid aliceblue;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: fit-content;
      gap: 8px;
      padding: 8px;
      margin: 8px;

      .display-title {
        font-size: 2rem;

      }
    }
  }
}